* {
  box-sizing: border-box;
}
.align-items-center {
  align-items: center;
}
.header {
  transition: all 0.5s;
  z-index: 100;
  color: #444444;
  background-color: #ffffff;
}
.header .logo h1 {
  font-size: 30px;
  margin: 0;
  font-weight: 700;
  color: #222222;
}

.navmenu ul {
  margin: 0;
  padding: 0;
  display: flex;
  list-style: none;
  align-items: center;
}
/* .navmenu li{
    margin: 12px;
} */
/* @media (min-width: 1200px) { */
  .navmenu a,
  .navmenu a:focus {
    color: black;
    padding: 18px 15px;
    font-size: 15px;
    font-family: var(--nav-font);
    font-weight: 500;
    display: flex;
    align-items: center;
    justify-content: space-between;
    white-space: nowrap;
    transition: 0.3s;
  }


ul {
  margin-block-start: 1em;
  margin-block-end: 1em;
  margin-inline-start: 0px;
  margin-inline-end: 0px;
  padding-inline-start: 40px;
  unicode-bidi: isolate;
}
